In [2]:
from ucimlrepo import fetch_ucirepo

In [6]:
ilpd_indian_liver_patient = fetch_ucirepo(id=225)

x = ilpd_indian_liver_patient.data.features
y = ilpd_indian_liver_patient.data.targets

In [7]:
x

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB  A/G Ratio
0     65  Female   0.7  0.1      187    16    18  6.8  3.3       0.90
1     62    Male  10.9  5.5      699    64   100  7.5  3.2       0.74
2     62    Male   7.3  4.1      490    60    68  7.0  3.3       0.89
3     58    Male   1.0  0.4      182    14    20  6.8  3.4       1.00
4     72    Male   3.9  2.0      195    27    59  7.3  2.4       0.40
..   ...     ...   ...  ...      ...   ...   ...  ...  ...        ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6       0.37
579   40    Male   0.6  0.1       98    35    31  6.0  3.2       1.10
580   52    Male   0.8  0.2      245    48    49  6.4  3.2       1.00
581   31    Male   1.3  0.5      184    29    32  6.8  3.4       1.00
582   38    Male   1.0  0.3      216    21    24  7.3  4.4       1.50

[583 rows x 10 columns]