In [4]:
import pandas as pd

In [5]:
dataset = pd.read_csv('data/ilpd-clustered.csv')

In [6]:
dataset

,Age,Gender,TB,DB,Alkphos,Sgpt,Sgot,TP,ALB,A/G Ratio,2-Proto_Cluster,4-Proto_Cluster,5-Proto_Cluster,DBSCAN_Cluster-eps134,Label
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,0,1,0,0,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0,4,0,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,0,1,0,0,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,0,2,1,0,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,0,1,0,0,2
575,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,0,2,0,0,1
576,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,0,1,0,0,1
577,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,0,2,1,0,1
578,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,0,2,1,0,2